<h2>Register to find the secret for success.</h2>

<form action="/register" method="POST">
    <h4>Username</h4>
    <input type="text" placeholder="Enter Uername" name="username">
    <h4>Password</h4>
    <input type="password" placeholder="Enter Password" name="password"> 
    <button>Submit</button>
</form>


<ul>
   <li>
       <a href="/">Login</a>
   </li> 
    <li>
        <a href="/register">Register</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>