
<h1>Hey! How are you <%= user %>? Do you want to know...</h1>
<h1>The secret of success in life...</h1>
<br>
<br>
<h1 style="color : blue">Find a passion, find a goal. Then you have to know yourself. After you know yourself find out what you have to improve upon to reach that goal.</h1>

<%if(food.length > 0){%>
  <a href="/deletekey"> Edit </a>
  <h3>Personal Key : <%= food %> </h3>

<%}else{%>

  <form action="/food" method="get">

    <h3> Enter a key </h3>
    <input type="text" name="food" value="">
            <button>Enter</button>

  </form>


<%}%>


<ul>
   <li>
       <a href="/">Login</a>
   </li>
    <li>
        <a href="/register">Register</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>
